/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

button {
    border-style: none;
}

a {
    color: black;
}

/****** Header ***********/

.navbar {
    display: flex;
    justify-content: space-between;

}

.logo {
    display: flex;
    height: 20px;
    width: 60px;
    margin-top: 30px;
}

nav ul {
    display: flex;
    gap: 70px;
    padding: 0;
}

nav ul li a {
    padding-top: 14px;
}

nav ul li a:hover {
    border-top: solid 3px var(--main-color);
    color: var(--main-color);
}

/****** Main ***********/

h1 {
    font-size: 22px;
}

.motto {
    margin-top: 70px;
}

.motto h1,
p {
    margin: 4px 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.search-field,
.search-btn {
    font-size: 18px;
    font-weight: 700;
}

.search-field {
    border: solid 1px var(--filter-bg-color);
    width: 175px;
    padding-left: 25px;
}

.search-bar {
    display: flex;
    margin: 35px 0;
}

.search-icon {
    border-radius: 15px 0px 0px 15px;
    background-color: var(--main-bg-color);
}

.search-btn {
    background-color: var(--main-color);
    border-radius: 0px 15px 15px 0px;
}

.search-btn span,
.search-btn i {
    color: white;
}

.search-icon,
.search-btn {
    padding: 15px;
}

input:focus {
    outline: none;
}

.fa-magnifying-glass {
    display: none;
}

/*Filters*/

.filter-bar {
    display: flex;
    align-items: center;
    gap: 15px;
}

h3 {
    font-size: 18px;
}

.filter-bar button {
    border-radius: 25px;
    border: solid 2px var(--main-bg-color);
    background-color: white;
    font-size: 17px;
    font-weight: 700;
}

.filter-bar button:hover {
    background-color: var(--filter-bg-color);
}

.filter-bar button {
    padding: 13px 18px;
    max-height: 50px;
}

.filter-bar button i {
    margin-right: 10px;
}

.btn-filtres {
    display: flex;
    gap: 15px;
}

.info-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 35px 0;
}

.info-icon {
    border: solid 1px var(--filter-bg-color);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

/****** Hebergements And Populaires ***********/

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
#hebergements {
    width: 65%;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 33px;
}

.hebergements-cards img {
    height: 120px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-title {
    margin: 0;
}

.hebergements-cards .card-content {
    padding: 5px 0 10px 15px;
}

.more-btn {
    margin: 30px 0 0 0;
}

/****** Populaires ***********/
#populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

#activites {
    width: 100%;
}

#activites h2 {
    margin: 50px 30px 30px 30px;
}

.activites-cards {
    display: flex;
    gap: 30px;
    padding: 0 30px;
}

.card1 {
    /* max-width: 297.5px; */
    border-radius: 20px;
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card1 img {
    height: 380px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.card1 .card-title {
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    margin: 0 20px;
}

.card1 .card-title h4 {
    margin: 0;
}

/****** Footer ***********/


/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    #hebergements {
        width: 100%;
    }

    #populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .filter-bar {
        flex-direction: column;
    }

    .filter-bar {
        align-items: flex-start;
        gap: 0;
    }

    .card1 img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    /****** Header ***********/

    .main-container {
        padding: 0;
    }

    .navbar>div {
        display: flex;
        justify-content: center;
        position: static;
    }

    .navbar {
        flex-direction: column;
    }

    nav ul {
        gap: 0;
    }

    nav ul li {
        width: 100%;
    }

    nav ul li a {
        width: 100%;
        border-bottom: solid 3px var(--main-bg-color);
        padding-bottom: 15px;
        display: flex;
        justify-content: center;
    }

    nav ul li a:hover {
        border-top: 0;
        border-bottom: solid 3px var(--main-color);
        color: var(--main-color);
    }

    .motto,
    form,
    .search-bar,
    .filter-bar,
    .info-bar {
        padding: 0 20px;
    }

    .motto {
        margin-top: 15px;
    }

    .search-bar span {
        display: none;
    }

    .fa-magnifying-glass {
        display: block;
    }

    .search-btn {
        border-radius: 15px;
        position: relative;
        right: 10px;
    }

    .search-field {
        width: 100%;
        padding-left: 5%;
    }

    .btn-filtres {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .filter-bar button {
        width: 160px;
        height: 50px;
        font-size: 14px;
    }

    .info-icon {
        width: 30px;
    }

    #hebergements,
    #populaires {
        border-radius: 0;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    #populaires {
        background-color: var(--main-bg-color);
        margin-top: 0;
    }

    .populaires-cards {
        display: block;
    }

    #hebergements {
        background-color: white;
    }

    .hebergements-cards {
        display: block;
    }

    .hebergements-cards .card {
        margin-bottom: 15px;
    }

    .more-btn {
        margin: 0;
    }

    .activites-cards {
        flex-direction: column;
    }

    .card1 img {
        height: 140px;
    }

}